html,
body {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: start;
  flex-direction: column;
}
header,
footer {
  width: 80%;
  height: 15%;
  background-color: grey;
  border: 1px solid black;
  margin-bottom: 20px;
}

main {
  height: 70%;
  width: 80%;
}
.n {
  margin-top: 50px;
  width: 100%;
  height: 25%;
  background-color: rgb(77, 74, 74);
  border: 1px solid black;
  text-align: center;
  display: flex;
}
section {
  background-color: grey;
  border: 1px solid black;
  width: 20%;
  height: 98%;
  float: left;
}
nav {
  width: 75%;
  height: 60%;
  background-color: rgb(77, 74, 74);
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: start;
  margin: 10px;
  margin-left: 25px;
}
aside {
  margin: 10px;
  margin-left: 35px;
  width: 65%;
  height: 22%;
  background-color: rgb(77, 74, 74);
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: start;
}
footer {
  display: flex;
  justify-content: center;
  align-items: start;
  margin-top: 10px;
}
.b {
  width: 70%;
  height: 100%;
  float: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 10px;
}
.c {
  margin-top: 20px;
  width: 90%;
  height: 15%;
  background-color: rgb(77, 74, 74);
  border: 1px solid black;
  text-align: center;
  display: flex;
}
.d {
  margin-top: 20px;
  width: 90%;
  height: 35%;
  background-color: rgb(77, 74, 74);
  border: 1px solid black;
  float: left;
}
.e {
  margin-top: 20px;
  width: 90%;
  height: 15%;
  background-color: rgb(164, 163, 163);
  border: 1px solid black;
  text-align: center;
  display: flex;
  margin-left: 5px;
}
.f {
  margin-top: 20px;
  width: 65%;
  height: 10%;
  background-color: rgb(164, 164, 164);
  border: 1px solid black;
  text-align: center;
  display: flex;
  margin-left: 5px;
}
.g {
  margin-top: 20px;
  width: 30%;
  height: 25%;
  background-color: rgb(164, 164, 164);
  border: 1px solid black;
  text-align: center;
  display: flex;
  margin-left: 5px;
}
.ADiv {
  display: flex;
  margin-top: 20px;
}
.DIV {
  width: 55%;
  height: 25%;
  background-color: rgb(164, 164, 164);
  border: 1px solid black;
  text-align: center;
}
.Aaside {
  width: 80%;
  height: 15%;
}
